<div class="bg-gradient-to-r from-sky-950 to-blue-500 text-white p-10 rounded-lg shadow-lg mt-28">
    <h2 class="text-3xl font-bold mb-4">Sobre Nosotros</h2>
    <p class="mb-6">En la Juguetería Cósmica, estamos dedicados a proporcionar una experiencia única y emocionante para niños y amantes del universo. Nuestros juguetes están diseñados para inspirar la creatividad y la imaginación, llevando a los pequeños a aventuras intergalácticas.</p>
    <p class="mb-6">Nuestro equipo está compuesto por apasionados del espacio y el juego, siempre buscando ofrecer productos de alta calidad que fomenten el aprendizaje y el entretenimiento.</p>
    <p>¡Acompáñanos en este viaje a través del cosmos y descubre el universo de posibilidades que tenemos para ti y tu familia!</p>
</div>

<div class="bg-white p-8 shadow-lg rounded-lg max-w-3xl mx-auto my-16">
    <h2 class="text-3xl font-bold mb-4 text-center">Nuestros Valores</h2>
    <div class="text-gray-800 text-lg mb-6 leading-relaxed">
        <p class="mb-4">En Juguetería Cósmica, nos guiamos por valores que reflejan nuestra pasión por el aprendizaje y la diversión. Estos valores nos inspiran a brindar productos de alta calidad y un servicio excepcional a nuestros clientes.</p>
    </div>
    <ul class="list-disc text-gray-800 max-w-2xl mx-auto">
        <li class="mb-2">Fomentamos la creatividad y la imaginación en cada juguete que ofrecemos.</li>
        <li class="mb-2">Priorizamos la seguridad y calidad de nuestros productos en todo momento.</li>
        <li class="mb-2">Valoramos la satisfacción y felicidad de nuestros clientes como nuestra mayor recompensa.</li>
        <li>Cultivamos un ambiente de trabajo colaborativo y apasionado en nuestro equipo.</li>
    </ul>
</div>



<section class="accordion mt-28">
    <h2 class="h2">Sobre Nosotros</h2>
    <h3 class="accordion-title accordion--open">¿Qué hace única a Juguetería Cósmica?</h3>
    <div class="accordion-content">
        <p>En Juguetería Cósmica, combinamos la fascinación por el espacio y la diversión para ofrecer a los niños una experiencia única. Nuestros juguetes están cuidadosamente seleccionados para inspirar la creatividad y la imaginación, llevando a los pequeños a emocionantes aventuras intergalácticas.</p>
    </div>

    <h3 class="accordion-title">¿Cuál es nuestra misión?</h3>
    <div class="accordion-content">
        <p>Nuestra misión en Juguetería Cósmica es proporcionar a los niños herramientas para aprender y crecer mientras se divierten. Creemos en la importancia del juego en el desarrollo infantil y nos esforzamos por ofrecer productos de alta calidad que fomenten el aprendizaje y el entretenimiento.</p>
    </div>

    <h3 class="accordion-title">Nuestra Compromiso con la Calidad</h3>
    <div class="accordion-content">
        <p>En Juguetería Cósmica, nos comprometemos a ofrecer productos de la más alta calidad. Trabajamos con proveedores confiables y realizamos rigurosas pruebas de seguridad para garantizar que cada juguete cumple con los estándares más estrictos. La satisfacción y seguridad de nuestros clientes son nuestra máxima prioridad.</p>
    </div>

    <h3 class="accordion-title">Nuestro Equipo Apasionado</h3>
    <div class="accordion-content">
        <p>El equipo de Juguetería Cósmica está formado por apasionados del espacio y el juego. Estamos dedicados a brindar una experiencia excepcional a nuestros clientes y estamos siempre en busca de nuevos productos y formas de inspirar a los niños a explorar el universo.</p>
    </div>
</section>


