<h2 class=" lg:mt-0 text-[3rem] font-mono text-gray-900 title capitalize bg-clip-text text-transparent bg-gradient-to-r from-sky-950 to-blue-500 text-9xl mt-72">Contacto</h2>

<section id="form-contact" class="flex flex-col md:flex-row items-center mt-28">
    <img src="img/contact-image.svg" alt="computer image" class="w-full md:w-1/2 mb-8 md:mb-0">

    <div class="info-form w-full md:w-1/2 px-4">
        <h2 class="text-2xl mb-4">¡Contáctanos!</h2>
        <p class="mb-6">Bienvenido a nuestra página de contacto, el punto de encuentro donde puedes comunicarte con nosotros de manera directa y sencilla. Nos encantaría escucharte y responder tus inquietudes, sugerencias o preguntas. Nuestro equipo está aquí para brindarte la mejor asistencia posible.</p>

        <form id="form" class="form">
            <label for="nombre" class="block mb-2">Nombre:</label>
            <input type="text" id="nombre" class="w-full px-4 py-2 mb-4 border rounded" required>

            <label for="email" class="block mb-2">e-mail:</label>
            <input type="email" id="email" class="w-full px-4 py-2 mb-4 border rounded" required>

            <label for="comentarios" class="block mb-2">Comentarios:</label>
            <textarea name="comentarios" id="comentarios" cols="30" rows="10" class="w-full px-4 py-2 mb-4 border rounded" maxlength="20"></textarea>

            <input type="submit" id="btn1" disabled value="Enviar Mensaje" class="px-4 py-2 bg-blue-500 text-white rounded cursor-pointer">
        </form>
    </div>
</section>

<section class="mt-28 w-full">
    <h2 class="lg:mt-0 text-[3rem] font-mono text-gray-900 title capitalize bg-clip-text text-transparent bg-gradient-to-r from-sky-950 to-blue-500 text-9xl mt-72">Nuestras Redes</h2>

    <div class="flex max-w-screen-2xl mx-auto flex-wrap gap-4 mt-40">
        <div class="max-w-md mx-auto bg-white rounded p-8 shadow-lg">
            <h2 class="text-2xl font-bold mb-4">Linkedin</h2>
            <p class="mb-6 text-gray-700">
                "¡Conéctate conmigo en LinkedIn! Estoy ansioso por conocer y colaborar con profesionales apasionados como tú. ¡No dudes en enviarme un mensaje o establecer contacto para discutir ideas, oportunidades y colaboraciones en nuestra red profesional!"
            </p>
            <a href="https://www.linkedin.com/in/cristian-caro-9b4040260/" target="_blank"  class="text-dark-500 hover:text-blue-700 transform hover:scale-110 text-center block transition ease-in-out delay-150">
                <i class='bx bxl-linkedin-square text-4xl transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300'></i>
            </a>
        </div>
    
        <div class="max-w-md mx-auto bg-white rounded p-8 shadow-lg">
            <h2 class="text-2xl font-bold mb-4">Email</h2>
            <p class="mb-6 text-gray-700">Nuestro equipo está aquí para responder tus consultas y brindarte toda la información que necesites. Estamos ansiosos por escucharte y ser parte de tu aventura en el universo de los juegos.</p>
            <a href="https://www.linkedin.com/in/cristian-caro-9b4040260/" target="_blank"  class="text-dark-500 hover:text-blue-700 transform hover:scale-110 text-center block transition ease-in-out delay-150">
                <i class='bx bxs-envelope text-4xl transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300'></i>
            </a>
        </div>
    
        <div class="max-w-md mx-auto bg-white rounded p-8 shadow-lg">
            <h2 class="text-2xl font-bold mb-4">Github</h2>
            <p class="mb-6 text-gray-700">
                Si tienes algún proyecto emocionante en mente o estás buscando colaboradores, ¡no dudes en contactarme! Estoy abierto a nuevas ideas y estoy seguro de que juntos podemos crear algo asombroso.
            </p>
            <a href="https://www.linkedin.com/in/cristian-caro-9b4040260/" target="_blank"  class="text-dark-500 hover:text-blue-700 transform hover:scale-110 text-center block transition ease-in-out delay-150">
                <i class='bx bxl-github text-4xl transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110  duration-300'></i>
            </a>
        </div>
    </div>
    
</section>
