<!-- info de inicio  -->
<div class="container-home flex flex-col lg:flex-row justify-around items-center mx-auto mt-28">
    <div class="home lg:w-3/4 xl:w-2/3 text-center lg:text-left lg:pr-8">
        <h1 class="mt-4 lg:mt-0 text-[7rem] font-mono text-gray-900 title capitalize bg-clip-text text-transparent bg-gradient-to-r from-sky-950 to-blue-500 text-9xl">Bienvenido a Juguetería cósmica</h1>
        <p class="my-6 text-lg font-circular-bold text-gray-400">Descubre un mundo de diversión y creatividad en nuestra tienda de juguetes en línea. En Juguetería cósmica, creemos en la importancia del juego en el desarrollo de cada niño. Nuestra amplia selección de juguetes cuidadosamente seleccionados está diseñada para estimular la imaginación, fomentar el aprendizaje y brindar horas interminables de entretenimiento. Desde clásicos atemporales hasta las últimas novedades, cada uno de nuestros productos ha sido elegido pensando en la calidad, seguridad y valor educativo. Nos enorgullecemos de ofrecer una experiencia de compra en línea sin complicaciones, respaldada por un equipo dedicado que se esfuerza por brindarte la mejor experiencia posible.</p>
        <button class="bg-sky-500/100 p-2 hover:bg-cyan-600 transition duration-150 ease-out hover:ease-in font-sans text-sm font-semibold mb-8 lg:mb-0" id="scrollButton" data-target="#products">Ver productos</button>
    </div>
    
    

    <div class="container-video rounded-lg bg-gradient-to-r from-cyan-500 to-blue-500 shadow-2xl shadow-indigo-500/40 lg:w-1/2 mt-8 lg:mt-0">
        <video src="../img/capture_2023-09-20_12-17-47.mp4" loop autoplay muted class="h-80 lg:h-full w-full object-cover rounded-lg cursor-pointer"></video>
    </div>
</div>

<!-- container info  -->
<section class="container-info flex flex-col lg:flex-row mt-28 p-8 bg-[#e9f4ff] justify-around">
    <div class="w-full lg:w-48 flex flex-col justify-center items-center mb-4 lg:mb-0 sm:flex-row sm:justify-start">
        <p class="text-5xl lg:text-7xl mb-2"><i class='bx bx-car'></i></p>
        <p class="text-lg lg:text-base text-center sm:text-left">Entrega segura</p>
    </div>

    <div class="w-full lg:w-48 flex flex-col justify-center items-center mb-4 lg:mb-0 sm:flex-row sm:justify-start">
        <p class="text-5xl lg:text-7xl mb-2"><i class='bx bx-package'></i></p>
        <p class="text-lg lg:text-base text-center sm:text-left">Envío gratis en compras de más de $20.000</p>
    </div>

    <div class="w-full lg:w-48 flex flex-col justify-center items-center mb-4 lg:mb-0 sm:flex-row sm:justify-start">
        <p class="text-5xl lg:text-7xl mb-2"><i class='bx bxs-discount'></i></p>
        <p class="text-lg lg:text-base text-center sm:text-left">Precios bajos garantizados</p>
    </div>

    <div class="w-full lg:w-48 flex flex-col justify-center items-center sm:flex-row sm:justify-start"> 
        <p class="text-5xl lg:text-7xl mb-2"><i class='bx bx-time'></i></p>
        <p class="text-lg lg:text-base text-center sm:text-left">Disponible para ti 24/7</p>
    </div>
</section>


<div id="products">
    <h2 class="mt-28 lg:mt-4 text-[5rem] font-mono text-gray-900 title capitalize bg-clip-text text-transparent bg-gradient-to-r from-sky-950 to-blue-500 text-9xl">Nuestros Productos</h2>
</div>

<!-- cards  -->
<div class="cards-container flex gap-4 flex-wrap justify-center" id="cards">
</div>

<!-- info -->
<section class="container-info flex flex-col lg:flex-row mt-28 p-8 bg-[#e9f4ff]">
    <div class="mision lg:w-1/2 px-8">
        <h2 class="mt-4 lg:mt-0 text-[3rem] font-mono text-gray-900 title capitalize bg-clip-text text-transparent bg-gradient-to-r from-sky-950 to-blue-500 text-9xl">Nuestra Misión</h2>
        <p class="mt-8 ">En Juguetería Cósmica, nos dedicamos a proporcionar una experiencia única y enriquecedora a personas de todas las edades, desde los más pequeños hasta aquellos jóvenes de corazón hasta los 30 años. Nos enorgullecemos de ser más que una simple tienda de juguetes; somos un destino donde la diversión se fusiona con la imaginación, y donde los límites de la creatividad se expanden hacia el cosmos.</p>
    </div>

    <div class="vision lg:w-1/2 px-8 mt-8 lg:mt-0">
        <h2 class="mt-4 lg:mt-0 text-[3rem] font-mono text-gray-900 title capitalize bg-clip-text text-transparent bg-gradient-to-r from-sky-950 to-blue-500 text-9xl">Nuestra Visión</h2>
        <p class="mt-8 ">En Juguetería Cósmica, nos dedicamos a proporcionar una experiencia única y enriquecedora a personas de todas las edades, desde los más pequeños hasta aquellos jóvenes de corazón hasta los 30 años. Nos enorgullecemos de ser más que una simple tienda de juguetes; somos un destino donde la diversión se fusiona con la imaginación, y donde los límites de la creatividad se expanden hacia el cosmos.</p>
    </div>
</section>


<div class="max-w-md mx-auto bg-white rounded-xl overflow-hidden md:max-w-2xl mb-4 flex mt-28">
    <div class="md:flex">
        <div class="md:flex-shrink-0">
            <img class="h-48 w-full object-cover md:w-48" src="../img/logotipo_jugueteria-cosmica.PNG" alt="Ilustración">
        </div>
        <div class="p-8">
            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Nuestro Compromiso</div>
            <p class="mt-2 text-gray-500">Estamos comprometidos con la calidad, la seguridad y la durabilidad de cada producto que ofrecemos. Trabajamos con marcas confiables y diseñadores innovadores que comparten nuestra pasión por la creatividad y la diversión sin límites. Cada juguete en nuestra tienda ha sido cuidadosamente seleccionado para inspirar la imaginación y promover un ambiente lúdico y enriquecedor.</p>
        </div>
    </div>
</div>

<div class="max-w-md mx-auto bg-white rounded-xl overflow-hidden md:max-w-2xl mb-4">
    <div class="md:flex">
        <div class="md:flex-shrink-0">
            <img class="h-48 w-full object-cover md:w-48" src="../img/logotipo_jugueteria-cosmica.PNG" alt="Ilustración">
        </div>
        <div class="p-8">
            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Únete a Nuestra Comunidad Cósmica</div>
            <p class="mt-2 text-gray-500">Te invitamos a explorar nuestro espacio virtual y descubrir el universo de posibilidades que ofrecemos. Únete a nuestra comunidad cósmica y comparte tu entusiasmo por la diversión y el juego sin importar tu edad. En Juguetería Cósmica, la aventura nunca termina, ¡y siempre hay un nuevo descubrimiento esperándote!</p>
        </div>
    </div>
</div>

<div class="max-w-md mx-auto bg-white rounded-xl overflow-hidden md:max-w-2xl mb-4">
    <div class="md:flex">
        <div class="md:flex-shrink-0">
            <img class="h-48 w-full object-cover md:w-48" src="../img/logotipo_jugueteria-cosmica.PNG" alt="Ilustración">
        </div>
        <div class="p-8">
            <div class="uppercase tracking-wide text-sm text-indigo-500 font-semibold">Ofrecemos</div>
            <p class="mt-2 text-gray-500">En Juguetería Cósmica, encontrarás una cuidadosa selección de juguetes y juegos que abarcan desde los clásicos que han encantado a generaciones hasta las últimas tendencias que desafían la mente...</p>
        </div>
    </div>
</div>





