

        <section class="form">
            <img src="img/contact-image.svg" alt="computer image">
            <div class="info-form">
                <h2>¡Contactanos!</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius explicabo voluptate quas at. Culpa, autem unde? Corrupti non provident distinctio quisquam molestiae iure temporibus possimus, alias quis rem sint repudiandae.</p>
            <form id="form" class="form" action="#">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" required >

                <label for="email">e-mail:</label>
                <input type="email"id="email" required>

                <label for="comentarios">Comentarios:</label>
                <textarea name="comentarios" id="comentarios" cols="30" rows="10" maxlength="20"></textarea> <br>
                <input type="submit" id="btn1" disabled value="Enviar Mensaje"> 
            </form>
        </div>
        </section>
